*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conatiner{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f2f2fe;
    
}
.icons a{
    display: inline-flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 40px;
    margin: 10px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.3) ;
    background-size: 100% 200%;
    background-position: 0% 5%;
    transition: background-position 0.8s, color 0.8s;
}
.icons a:nth-child(1){
    color: #1976d3;
    background-image: linear-gradient(#fff 50%, #1976d3 50%);
}
.icons a:nth-child(2){
    color: #d92a2a;
    background-image: linear-gradient(#fff 50%, #d92a2a 50%);
}
.icons a:nth-child(3){
    color: #396898;
    background-image: linear-gradient(#fff 50%, #396898 50%);
}
.icons a:hover{
    background-position: 0% 100%;
    color: #fff;
}